.form
  = form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form|
    = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
    = form.submit "検索", class: "search-btn"


.content
  - @tweets.each do |tweet| 
    .content__post{style: "background-image: url(#{tweet.image});"}
      .content__post__more
        %span
          MENU
          %ul.more_list
            %li 
              = link_to '詳細', tweet_path(tweet.id), method: :get
            - if user_signed_in? && current_user.id == tweet.user_id
              %li
                = link_to '編集', edit_tweet_path(tweet.id), method: :get
              %li
                = link_to '削除', tweet_path(tweet.id), method: :delete
      .content__post__link{:id => "like-link-#{tweet.id}"}
        - if user_signed_in? && current_user.likes.find_by(tweet_id: tweet.id)
          = link_to unlike_path(tweet.id), method: :delete, remote: true do
            .iine__button
              ❤️#{tweet.likes.count}
        - else
          = link_to like_path(tweet.id), method: :post, remote: true do
            .iine__button
              ♡️#{tweet.likes.count}

                
      %p= tweet.text 
      %span.contents__post__name
        %a{:href => "/users/#{tweet.user.id}"}
          %span 投稿者
          = tweet.user.nickname

          

          

      