!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TweetBaseball
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    .header
      .header-bar
        %h1.header-bar__grid-6
          = link_to "/" do
            = "Tweet BaseBall"
        - if user_signed_in?
          .header-bar__user-nav
            %span
              = current_user.nickname
              %ul.user__info
                %li
                  = link_to "マイページ", "/users/#{current_user.id}"
                  = link_to "ログアウト", destroy_user_session_path, method: :delete

            //= link_to "ログアウト", destroy_user_session_path, method: :delete
            .post
              = link_to "投稿する", new_tweet_path, class: "post"
        - else
          .header-bar__user-nav
            .posts
              = link_to "ログイン", new_user_session_path, class: "post"
              = link_to "新規登録", new_user_registration_path, class: "post"

    

    

    = yield
